[submodule "dependencies/quickjspp"]
	path = dependencies/quickjspp
	url = https://github.com/DeriveSDK/quickjspp.git
[submodule "dependencies/quickjs"]
	path = dependencies/quickjs
	url = https://github.com/DeriveSDK/quickjs.git
[submodule "dependencies/rive"]
	path = dependencies/rive
	url = https://github.com/DeriveSDK/rive-cpp.git
[submodule "dependencies/glew"]
	path = dependencies/glew
	url = https://github.com/nigels-com/glew.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/skia"]
	path = dependencies/skia
	url = https://github.com/google/skia.git
